.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url('../img/bannerNosotros.jpeg');
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.aboutLayout {
  display: flex;
  flex-direction: column; /* Mobile: uno debajo del otro */
  gap: 2rem;
  padding: 2rem 1rem;
  align-items: center;
}
.content {
  padding: 2rem 1rem;
  text-align: center;
  max-width: 800px;
}

.content h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1rem;
  line-height: 1.6;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 600px;

}

.card {
  background-color: #f6f8de60;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 1px 6px 14px rgba(0, 0, 0, 0.363);
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.card h2 {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.card p,
.card ul {
  font-size: 0.95rem;
  line-height: 1.5;
}

.card ul {
  padding-left: 1rem;
}

.card li {
  margin-bottom: 0.75rem;
  text-decoration: none;
}
.card .icon-valores {
  margin-right: 10px;
}
.aboutImg {
  display: none;
}
.buttonGaleria {
  margin-top: 2rem;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 7px 20px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  font-weight: 300;
  border-radius: 24px;
  border: none;
background: linear-gradient(145deg, #e59a45, #ffb752);
box-shadow:  5px 5px 20px #3f2e1b,
             -5px -5px 20px #ffbb5454;
}
/* .button-link-about a {
  text-decoration: none;
  color: white;
} */
.buttonGaleria:hover {
  background-color: #ffffff;
  box-shadow:  5px 5px 50px #3f2e1b,
             -5px -5px 50px #ffbb5454;  
  transition: all 0.2s ease;
  transform: scale(1.05);
                      
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el botón horizontalmente */
  justify-content: center; /* Opcional si necesitas centrar verticalmente */
  margin: 4rem 0;
  /* width: 100%; */
}
.buttonContainer a {
  text-decoration: none;
  color: white;
}








@media (min-width: 768px) {
  .banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .contact-title {
    font-size: 8rem;
  }
  .aboutLayout {
    flex-direction: row; /* Lado a lado */
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .content {
    flex: 1;
    text-align: left;
    max-width: 600px;
  }
  .content p {
    font-size: 1.5rem;
  }
  .cards {
    flex: 1;
    max-width: 800px;
  }
  .aboutImg {
    display: flex;
    flex: 1;
    max-width: 40rem;
    margin-top: 8rem;
    margin-left: -3rem;
  }
  .buttonContainer h2 {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 3rem;
  }
  .buttonGaleria {
    font-size: 2rem;
    width: 15rem;
  }
}