.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-image: linear-gradient(
    to top,
    #00000000 0%,
    #00000059 40%,
    #00000061 50%,
    #0000008b 100%
  );
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.6s ease; /* Para la transición */
  z-index: 1000;
}

.header.hidden {
  transform: translateY(-100%); /* Mueve el header hacia arriba */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Ajusta según sea necesario */
}

.logo {
  height: 40px;
}

.logo-link {
  z-index: 5000;
  margin-left: 15px;
}

.hamburger {
  display: none; /* Ocultamos el hamburguesa por defecto */
  font-size: 2rem;
  background: none;
  padding: 0;
  border: none;
  color: #303f9f;
  cursor: pointer;
  z-index: 5000;
  margin-right: 15px;
}

.hamburger.active {
  color: #f0a500;
}

.social-links {
  display: none; /* Ocultamos los logos de redes sociales por defecto */
  align-items: center;
  gap: 10px;
}

.wtsLogo {
  width: 40px;
  padding: 0;
  margin: 0;
}

.wtsLogoLink {
  z-index: 5000;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* Mostramos el hamburguesa en móvil */
  }

  .header-content {
    justify-content: space-between; /* Logo a la izquierda, hamburguesa a la derecha */
  }

  .social-links {
    display: none; /* Ocultamos los logos de redes sociales en móvil */
  }
}

/* Desktop Styles */
@media (min-width: 768px) {
  .hamburger {
    display: none; /* Ocultamos el hamburguesa en desktop */
  }

  .social-links {
    display: flex; /* Mostramos los logos de redes sociales en desktop */
  }

  .header-content {
    justify-content: space-between; /* Logo a la izquierda, Navbar centrado, redes sociales a la derecha */
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Navbar ocupa el espacio restante */
  }
}