.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  position: fixed;
  width: 100%;
  background-color: transparent;
  backdrop-filter: blur(9px);
  transition: transform 0.5s ease;
  border-radius: 0 0 40px 40px;
  top: 0;
  left: 0;
  z-index: 500;
  border-bottom: solid 1px #84888f57;
}

/* Cuando el menú está abierto, se desactiva el backdrop-filter */
.header.menu-active {
  backdrop-filter: none;
}
.header.menu-closed {
  backdrop-filter: blur(3px);
  transition: transform 5.8s ease, backdrop-filter 0.5s ease;
}

.header.hidden {
  transform: translateY(-100%); /* Mueve el header hacia arriba */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Ajusta según sea necesario */
}

.logo {
  box-sizing: content-box;
  padding: 10px;
  height: 40px;
  background: radial-gradient(
    closest-side,
    #47575e20,
    #f7f3f30f,
    #4c5dc01d,
    #f7f3f300
  );
}

.logo-link {
  z-index: 5000;
  margin-left: 15px;
}

.hamburger {
  display: none; /* Ocultamos el hamburguesa por defecto */
  font-size: 2rem;
  background: none;
  padding: 10px;
  border: none;
  color: #303f9f;
  cursor: pointer;
  z-index: 5000;
  margin-right: 15px;
  border-radius: 50%;
}
.hamburger.active {
  color: #f0a500;
}

.social-links {
  display: none; /* Ocultamos los logos de redes sociales por defecto */
  align-items: center;
  gap: 10px;
}

.wtsLogo {
  width: 40px;
  padding: 0;
  margin: 0;
}

.wtsLogoLink {
  z-index: 5000;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .hamburger {
    display: inline-flex; /* Mostramos el hamburguesa en móvil */

  }

  .header-content {
    justify-content: space-between; /* Logo a la izquierda, hamburguesa a la derecha */
  }

  .social-links {
    display: none; /* Ocultamos los logos de redes sociales en móvil */
  }
}

/* Desktop Styles */
@media (min-width: 768px) {
  .hamburger {
    display: none; /* Ocultamos el hamburguesa en desktop */
  }

  .social-links {
    display: flex;
    margin-top: 0.2rem;
    margin-right: 2rem;
  }
  
  .social-links svg {
    font-size: 1.5rem;
    color: #ffffff;
    transition: color 0.3s;
  }
  
  .social-links svg:hover {
    color: #000;
  }
  .header {
    width: 80%;
    left: 10%;
  }
  .header-content {
    justify-content: space-between; /* Logo a la izquierda, Navbar centrado, redes sociales a la derecha */
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Navbar ocupa el espacio restante */
  }
}
