/* Contenedor principal ocupa toda la pantalla */
.home {
  margin: 0;
  padding: 0;
  background: transparent;
}

/* Estilos para el carrusel */
.mySwiper {
  padding: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

/* Centrar el contenido de cada slide */
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Contenedor para el zoom */
.swiper-zoom-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.swiper-zoom-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Solo el slide activo tendrá la animación de zoom */
.swiper-slide-active .swiper-zoom-container img {
  animation: subtleZoom 7000ms ease-in-out infinite alternate;
}

@keyframes subtleZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.08);
  }
}

/* Estilos para la paginación */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  transition: background-color 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #feab4d;
}

/* Estilos para el cuadro de texto dentro del carrusel */
.swiper-zoom-container .text-box {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-shadow: #000 5px 5px 6px;
  color: white;
  width: 100%;
  max-width: 400px;
  opacity: 0;
  animation: fadeInUp 2s ease-in-out forwards;
  animation-delay: 0.6s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-150%);
  }
}

.text-box h2 {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 20px;
  font-size: 2rem;
}

.text-box p {
  margin: 0 0 20px 0;
  padding: 0 20px;
  font-size: 1rem;
}

.text-box button {
  background-color: #feab4d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.text-box button:hover {
  background-color: #ff9c2a;
}

.logo-dos img {
  width: 17rem !important;
  margin: 0;
}

/* Sección 2 - Sobre Nosotros y Trabajos */
.seccion-dos {
  width: 100%;
}

#seccion-conocenos,
#seccion-trabajos {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Ajuste de las imágenes para que ocupen el 100% de la sección */
.rf-ia {
  position: absolute;
  width: 95%;
  height: auto;
  top: 0.5rem;
  filter: blur(0.5px) brightness(100%);
  border-radius: 5px;
}

.trabajos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
  filter: brightness(50%);
}

/* Contenedores de texto sobre las imágenes */
.rf-ia-text {
  position: relative;
  z-index: 2;
  color: black;
  max-width: 100%;
  padding: 0.8rem;
  margin-top: 2rem;
}

.trabajos-text {
  position: absolute;
  font-size: 35px;
  z-index: 10;
  color: white;
  max-width: 100%;
  padding: 0.8rem;
  margin-top: 2rem;
}


.trabajos-text h3,
.sobreNos-h3 {
  font-size: 3rem;
  font-weight: 700;
  color: #feab4d;
  padding: 3rem 0 1rem 0;
  text-shadow: #000 2px 2px 7px;
}

.sobreNos {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.6rem;
}

.parrafo-home {
  font-size: 1.2rem;
  text-align: center;
  margin: 2rem;
  font-weight: 300;
}
.button-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 7px 20px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  font-weight: 300;
  border-radius: 24px;
background: linear-gradient(145deg, #e59a45, #ffb752);
box-shadow:  5px 5px 20px #3f2e1b,
             -5px -5px 20px #ffbb5454;
  transition: all 0.3s ease;
}

.button-link:hover {
  background-color: #ffffff;
  box-shadow:  5px 5px 50px #3f2e1b,
             -5px -5px 50px #ffbb5454;  
  transition: all 0.2s ease;
  transform: scale(1.05);
                      
}

.sobreNos-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  gap: 2rem;
  margin-top: 2rem;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .imagen-mobile-uno {
    object-position: 58%;
  }
  .imagen-mobile-dos {
    object-position: 1%;
  }
  .imagen-mobile-tres {
    object-position: 10%;
  }
  .swiper-slide .swiper-zoom-container img {
    filter: brightness(80%);
  }
  .text-box {
    top: 90%;
  }
  .sobreNos-logos {
    font-size: 1.5rem;
  }
}

@media (max-width: 376px) {
  .imagen-mobile-left {
    object-position: 10%;
  }
  .imagen-mobile-right {
    object-position: 60%;
  }
  .swiper-slide .swiper-zoom-container img {
    filter: brightness(70%);
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%) translateY(-130%);
    }
  }
  .rf-ia-text {
    margin: 8rem 0 0 0;
  }
  .trabajos-text h3,
  .sobreNos-h3 {
    font-size: 1.5rem;
  }
  .sobreNos {
    font-size: 1rem;
  }

  .parrafo-home {
    font-size: 1.2rem;
  }

  .text-box h2 {
    font-size: 1.5rem;
    padding: 0 20px;
  }
  .text-box p {
    font-size: 0.8rem;
  }
  .sobreNos-logos {
    font-size: 1.3rem;
  }
}

@media (max-width: 321px) {
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%) translateY(-120%);
    }
  }
  .text-box h2 {
    font-size: 1.5rem;
    padding: 0 20px;
  }
  .text-box p {
    font-size: 0.8rem;
  }

  .trabajos-text h3,
  .sobreNos-h3 {
    font-size: 1.5rem;
  }
  .sobreNos {
    font-size: 1rem;
  }

  .parrafo-home {
    font-size: 0.8rem;
  }
  .sobreNos-logos {
    font-size: 1.3rem;
  }
}
@media (min-width: 769px) {
 .text-box h2 {
   font-size: 2.5rem;
   padding: 0 20px;
   width: 50rem;
 }
 h2 br {
   display: none;
 }
  .text-box p {
    font-size: 1.2rem;
  }
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(-50%) translateY(-120%);
    }
  }
  .logo-dos img {
    width: 26rem !important;
    margin: 0;
  }
  .seccion-conocenos {
    flex-direction: row;  /* imagen izquierda + texto derecha */
    align-items: center;
    justify-content: center;
    text-align: left; /* El texto queda alineado a la izquierda */
    padding: 3rem 2rem; /* Un padding mayor para desktop */
    gap: 3rem; /* Más espacio entre imagen y texto */
    height: auto; 
    
  }

  .rf-ia {
    flex: 1;
    max-width: 800px; /* Ajustalo según el tamaño deseado */
    left: 5rem;
    margin-top: 8rem;
  }

  .rf-ia-text {
    flex: 1;
    margin-top: 2rem;
    max-width: 600px;
    text-align: right;
    right: -25rem;
  }

  .sobreNos-h3 {
    font-size: 4rem;
    text-align: center;
  }
  .sobreNos {
    font-size: 1.8rem;
    text-align: center;
  }
  .parrafo-home {
    font-size: 1.1rem;
    text-align: center;
  }
  .button-link {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
    justify-content: center;
    margin-top: 3rem;
    /* text-shadow: black 2px 2px 5px; */
  }


  .seccion-trabajos .parrafo-home{
    text-align: center;
    width: 55rem;
    font-size: 1.4rem;
  }
  .seccion-trabajos h3 {
    font-size: 4rem;
    text-align: center;
  }
  .seccion-trabajos h1 {
    font-size: 3rem;
    text-align: center;
  }

  .sobreNos-logos {
    font-size: 3rem;
    margin: 4rem 0;
  }
}
